<html>
<head>
	<title>Bit.ly Clone</title>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
	<script src="https://use.fontawesome.com/0c4af263c6.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $("#button1").click(function(){
	        $("table").toggle();
	    });
	});
	</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#button2").click(function(){
        $("table").hide("slow", function(){
            alert("The table is now hidden");
        });
    });
});
</script>



	<script src="js/application.js"></script>

</head>
<body>
	<%= yield %>
</body>
</html>